{% extends 'base.html' %}
{% load division %}
{% block title %}Home{% endblock %}
{% block album %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for restaurant in restaurants %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="data:image/jpeg;base64,{{ restaurant.get_image }}" alt="{{ restaurant.name }}">
                    <div class="card-body">
                        <div class="m-0">
                            <div class="row m-0 g-0">
                                <div class="col-9">
                                    <h4>{{ restaurant.name }}</h4>
                                    <p style="color: rgb(85, 84, 90);">{{ restaurant.description }}</p>
                                </div>
                                <div class="col rounded m-0" style="background-color: #EBF7FD; height: fit-content; width: fit-content;">
                                    <p class="text-center m-0" style="color: #00A8E7; font-weight: lighter;">10-15</p>
                                    <p class="text-center m-0" style="color: #00A8E7; font-weight: lighter;">min</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="d-flex align-items-center">
                            <span class="bi-bicycle icon">{{ restaurant.delivery_fee|floatformat }} kr.</span>
                            <span class="bi-dot icon"></span>
                            {% for i in "xxxx" %}
                            {% if forloop.counter <= restaurant.delivery_fee|floatformat|division:15 %} <span
                                class="bi-currency-dollar" style="font-size: small;"></span>
                                {% else %}
                                <span class="bi-currency-dollar"
                                    style="font-size: small; color: rgba(0, 0, 0, 0.350);"></span>
                                {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}